<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @video.created_at.strftime('%A, %B, %d') %></p>
    <h1><%= @video.title %></h1>
        <%= image_tag @video.image.url(:large) %>
  <hr>
  </header>

<div id="content">
<p><%= markdown(@video.notes) %></p>
</div>

<hr>

<div class="share_box">
  <p>Share <%= @video.title %></p>
    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit", edit_video_path(@video) %>
        <%= link_to "Destroy", video_path(@video), method: :delete, data: {confirm: "Are you sure you want to delete this video?"} %>
      </div>
    <% end %>
    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @video.title %> by @kkomaz - &amp;url=<%= url_for([@video, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
    <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@video, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
    <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@video, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
</div>

<hr>

<%= render 'disqus' %>
