<div class="welcome-page">
  <div class="homepage-banner" style="visibility: visible">
    <div class="homepage-banner__description">
      <h1 class="homepage-banner__name">Hi, I'm Alexander Lee</h1>
      <p class="homepage-banner__job">I am a Web Developer // Software Engineer </p>
    </div>
  </div>

  <div class="user-information">
    <div class="user-information__header">
      <h2 class="user-information__label">About me</h2>
      <hr>
    </div>

    <div class="user-information__image">
      <div class="user-img">
        <%= image_tag("profile2.png", class: "optional_class") %>
      </div>
    </div>

    <div class="user-information__content">
      <p>
        I am a full-stack Web Developer // Software Engineer living in New York.
      </p>

      <p>
        I build websites and web applications using Ruby on Rails and various different frameworks such as React, Backbone, and Angular
      </p>

      <p>
        Who doesn't like css? :)
      </p>

      <p>
      This website is dedicated to showing my readers what I have been working on as well as some cool blog posts that I find interesting and helpful.
      </p>

      <p>
      I hope my posts will get you excited about being developer!
      </p>

      <p>
      You can follow me on github or linkedin on the links in the bottom right corner!
      </p>
    </div>
  </div>

  <div class="user-content">
    <div class="user-content__blog-posts">
      <h2>My Blog Posts</h2>
      <hr>
      <%= render partial: "welcome/post", collection: @posts, :as => "post" %>
      <%= link_to "My previous blog site", "https://kkomaz.wordpress.com/category/blogs/", :target => "_blank" %>
    </div>

    <div class="user-content__projects">
      <h2>My Projects</h2>
      <hr>
      <%= render partial: "welcome/projects", collection: @projects, :as => "project" %>
    </div>

    <div class="user-content__screencast">
      <h2>My Screencasts</h2>
      <hr>
      <% if !@videos.empty? %>
        <%= render partial: "welcome/videos", collection: @videos, :as => "video" %>
      <% else %>
        Coming soon...
      <% end %>
    </div>
  </div>
</div>
