<h1 id="page_title"> My Projects</h1>
<div id="post_wrapper" class="skinny_wrapper">
  <% if user_signed_in? %>
    <div id="new_links">
      <%= link_to "Create New Project", new_project_path %>
    </div>
  <% end %>
  
  <% @projects.each do |project| %>
  <div class="post">    
    <p class="date"><%= project.created_at.strftime('%A, %B, %d') %></p>
    <h2><%= link_to project.title, project %></h2>
    <%= image_tag project.image.url(:medium) %>
    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit", edit_project_path(project) %>
        <%= link_to "Destroy", project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
      </div>
    <% end %>
    <hr>
  <% end %>
  </div>
<%= paginate @projects%>
</div>
