<!DOCTYPE html>
<html>
<head>
  <title>Alexande Lee - Web Developer // Software Engineer</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to image_tag("logo.png", :alt => "logo"), root_path %>
    <%= link_to "Alexander Lee", root_path, :class => "name"%>
    <nav>
      <%= link_to "Blogs", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>
  
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">
        &copy; 2015 Alexander Lee
    </p>
    <nav>
        <a href="https://twitter.com/kkomaz" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/alexanderlee2" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/kkomaz" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
</body>
</html>